.post-wrap {
    padding: 18px 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-bottom: 30px;
    border: 1px solid #dddddd;
    border-radius: 8px;
}

.post-header {
    display: flex;
    align-items: center;
    gap: 16px;
}

.post-header h3 {
    margin: 0;
}



.comments-block {
    display: flex;
    flex-direction: column;
}
